<a href="https://colab.research.google.com/github/kianat22/assignment-no-2/blob/main/untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4-11. My Pizzas, Your Pizzas: Start with your program from Exercise 4-1
(page 60). Make a copy of the list of pizzas, and call it friend_pizzas.
Then, do the following:
•	 Add a new pizza to the original list.
•	 Add a different pizza to the list friend_pizzas.
•	 Prove that you have two separate lists. Print the message, My favorite
pizzas are:, and then use a for loop to print the first list. Print the message,
My friend’s favorite pizzas are:, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [ ]:
kianat_pizza_list = ["Cheese Pizza", "chicken Pizza", "Veggie Pizza"]
for pizza in kianat_pizza_list:
    print("I like "+ pizza.title() + "!")

friend_pizza = kianat_pizza_list[:]

kianat_pizza_list.append("meat pizza")
friend_pizza.append("fajita pizza")

print("\nMy favorite pizzas are:")
for pizza in kianat_pizza_list:
    print("- " + pizza)

print("\nMy friend's favorite pizzas are:")
for pizza in friend_pizza:
    print("- " + pizza)

I like Cheese Pizza!
I like Chicken Pizza!
I like Veggie Pizza!

My favorite pizzas are:
- Cheese Pizza
- chicken Pizza
- Veggie Pizza
- meat pizza

My friend's favorite pizzas are:
- Cheese Pizza
- chicken Pizza
- Veggie Pizza
- fajita pizza

4-13. Buffet: A buffet-style restaurant offers only five basic foods. Think of five
simple foods, and store them in a tuple.
•	 Use a for loop to print each food the restaurant offers.
•	 Try to modify one of the items, and make sure that Python rejects the
change.
•	 The restaurant changes its menu, replacing two of the items with different
foods. Add a block of code that rewrites the tuple, and then use a for
loop to print each of the items on the revised menu.

In [ ]:
kianat_menu_items = ('soup', 'Biryani', 'ice ream','roti', 'fish' )

print("You can choose from thE menu")
for item in kianat_menu_items:
    print("- " + item)


kianat_menu_items = ('soup', 'Biryani', 'Kebab','Roti', 'fish' )

print("\nMenu has been updated")
print("\nNow you can choose from the menu list:")
for item in kianat_menu_items:
    print("- " + item)

You can choose from thE menu
- soup
- Biryani
- ice ream
- roti
- fish

Menu has been updated

Now you can choose from the menu list:
- soup
- Biryani
- Kebab
- Roti
- fish

5.2More Conditional Tests: You don’t have to limit the number of tests you create to 10 . If you want to try more comparisons, write more tests and add them to conditional_tests.py . Have at least one True and one False result for each of the following: Part1 Tests for equality and inequality with strings Part2 Tests using the lower() function Part3 Numerical tests involving equality and inequality, greater than and less than, greater than or equal to, and less than or equal to Part4 Tests using the and keyword and the or keyword Part5 Test whether an item is in a list Part6 Test whether an item is not in a list

In [ ]:
#Equality Check
kianat_house='my-room'
kianat_house=='my-room'

True

In [ ]:
#Inequality Check
kianat_house='my-room'
kianat_house=='kitchen'

False

In [ ]:
#Lower Function
kianat_house='Kitchen'
kianat_house.lower()=='kitchen'

True

In [ ]:
#Numerical Equality
kianat_age=25
kianat_age==25

True

In [ ]:
#Numerical Inequality
kianat_entry=7
if kianat_entry !=25:
  print("Incorrect Answer. Please try again!")

Incorrect Answer. Please try again!

In [ ]:
#Numerical Greater than 
kianat_digit=25
kianat_digit>20

True

In [ ]:
#Numerical Less than
kianat_digit=25
kianat_digit<12

False

In [ ]:
#Numerical Greater than equal to
kianat_digit=25
kianat_digit>=23

True

In [ ]:
#Numerical Less than equal to 
kianat_digit=33
kianat_digit<=10

False

In [ ]:
#And Keyword
kianat_digit_1=34
kianat_digit_2=25
kianat_digit_1>= 30 and kianat_digit_2<=30

True

In [ ]:
#Item in list
kianat_list=['bike','car','cycle','scooty']
'car' in kianat_list

True

In [ ]:
#Item is not in list
kianat_list=['bike','car','cycle','acooty']
'truck' in kianat_list

False

6-3. Glossary: A Python dictionary can be used to model an actual dictionary . However, to avoid confusion, let’s call it a glossary . Part1 Think of five programming words you’ve learned about in the previous chapters . Use these words as the keys in your glossary, and store their meanings as values . Part2 Print each word and its meaning as neatly formatted output . You might print the word followed by a colon and then its meaning, or print the word on one line and then print its meaning indented on a second line . Use the newline character (\n) to insert a blank line between each word-meaning pair in your output .

In [ ]:
kianat_langauges={
                 'int':'integer values which contain whole numbers',
                 'float':'real Values',
                 'char':'a single character',
                 'string':'collection of characters',
                 'bool':'bolean values which are true or false'
                 }
for key, value in kianat_langauges.items():
  print(key+ ": Means "+value.title())
  print('\n')

int: Means Integer Values Which Contain Whole Numbers


float: Means Real Values


char: Means A Single Character


string: Means Collection Of Characters


bool: Means Bolean Values Which Are True Or False

6-11. Cities: Make a dictionary called cities Use the names of three cities as keys in your dictionary Create a dictionary of information about each city and include the country that the city is in, its approximate population, and one fact about that city The keys for each city’s dictionary should be something like country, population, and fact Print the name of each city and all of the information you have stored about it

In [ ]:
cities_kianat = {'lahore':{'Country':'Pakistan', 'Population':'ten lac', 'Facts':' city of saints.'},
'karachi':{'Country':'Pakistan', 'Population':'one billion', 'Facts':' a major centre of Qawwali music.'}, 'Islamabad':{'Country':'Pakistan', 'Population':'ten billion', 'Facts': ' capital of Pakistan.'}}
for city, city_info in cities_kianat.items():
    Country = city_info['Country']
    Population= city_info['Population']
    Facts= city_info['Facts']
    print("\n"+ city + " is in " + Country)
    print("\n"+ city + " has population of " + Population)
    print("\n"+ city + " major fact is " + Facts+ '\n')

lahore is in Pakistan

lahore has population of ten lac

lahore major fact is  city of saints.


karachi is in Pakistan

karachi has population of one billion

karachi major fact is  a major centre of Qawwali music.


Islamabad is in Pakistan

Islamabad has population of ten billion

Islamabad major fact is  capital of Pakistan.